:root {
  --primary-text-color: #212121;
  --tittle-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --background-color: #e5e5e5;
  --background-color-second: #2f303a;
  --background-color-third: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
}

/*html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
*/
/*.nav-link a :visited,*/

body {
  background-color: var(--primary-bg-color);
  font-family: Roboto, sans-serif;
}

/*a {
  text-decoration: none;
  /*
  color: var(--primary-text-color);*/
/*
}

ul {
  list-style-type: none;
}

/* Логотип */
.conteiner-main .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  font-style: normal;
  text-decoration: none;

  color: var(--primary-text-color);
}

.nav-link {
  list-style-type: none;
}

.logotip,
.logotip-footer {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  list-style-type: none;
  text-decoration: none;

  color: var(--primary-text-color);
}
.logo-blue {
  font-family: Oleo Script;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-black {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/*шапка*/

.head-links {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.conteiner-main {
  display: flex;
  align-items: center;
}
.container-nav {
  display: flex;
  align-items: center;
}

.nav-link {
  display: flex;
}
.nav-link :active,
.nav-link :hover,
.nav-link :focus {
  color: var(--accent-color);
}

.nav-link .list:not(:last-child) {
  margin-right: 40px;
}

/*розширив область дії ховера */

.nav-link .link {
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;
}

/*адрес і мейл*/

.adress-head {
  margin-left: auto;
}

.adress-list .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  font-style: normal;

  color: var(--tittle-text-color);
}

.adress-list :active,
.adress-list :hover,
.nav-link :focus {
  color: var(--accent-color);
}

.adress-list .list:not(:last-child) {
  margin-right: 50px;
}

.adress-list {
  display: flex;
  list-style-type: none;
}
.adress-list .link {
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;
}
/* Меню сайта */

/*<!-- <h1>We can do this</h1>-->*/

/*кнопки-ссылки*/
.sections-works {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid var(--accent-color);
}

.links-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-top: 107px;
  list-style-type: none;
}

.b1 {
  background: var(--background-color);
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 130px;
  text-align: center;
  border: 1px solid transparent;
  border-color: var(--accent-color);
}

.b1:hover,
.b1:focus {
  background: var(--accent-color);
  color: var(--primary-bg-color);
}

.btn {
  margin-right: 8px;
}

/*карточки  меню виды работ */
.work-department {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
}

/*убирает отступи с картинок-->*/
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.foto-card {
  box-sizing: border-box;
  width: 370px;
  height: 408px;
  outline: 1px solid rgb(109, 93, 93);
  margin-left: 5px;
  margin-bottom: 5px;
  /*width: calc((100%-270px) / 9);*/
}

/*.foto-card:nth-child(3n) {
  margin-right: 30px;
}

.foto-card:nth-child(-n + 3) {
  margin-bottom: 30px;
}
*/
.card-content {
  padding: 20px 24px;
  outline: 1px solid green;
  box-sizing: border-box;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0;
}

.foto-card :hover,
.foto-card :focus {
  color: var(--accent-color);
}

.link-card {
  text-decoration: none;
  display: block;
  margin: 0;
}

.titel-card {
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;

  color: var(--primary-text-color);
  margin: 0;
}

.description-card {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 88em;
  letter-spacing: 0.03em;

  color: var(--tittle-text-color);
  margin-bottom: 0;
}

/*способы решения убрать отступи*/
/*
.foto-card:nth-child(3n) {
  margin-right: 30;
}
.foto-card:nth-last-child(-n + 3) {
  margin-bottom: 30;
}

/* Подвал */

.conteiner-contacts {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  background-color: var(--background-color-second);
}

/*логотип-фуутер*/
.logotip-footer {
  outline: 1px solid red;
}

.logotip-footer :hover,
.logotip-footer:focus {
  color: var(--accent-color);
}

.logo-white {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
}
.footer-contacts {
  /*flex-direction: column;*/
  margin-top: 100px;
}

.list-footer :hover,
.list-footer :focus {
  color: var(--accent-color);
}

.footer-list {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  list-style-type: none;
}

.footer-adress {
  color: var(--primary-bg-color);
}

.footer-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
