:root {
  --primary-text-color: #212121;
  --tittle-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --background-color: #e5e5e5;
  --background-color-second: #2f303a;
  --background-color-third: #f5f4fa
  --footer-text-color: #rgba(255, 255, 255, 0.6);
}

/*html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
*/
.head-links a :visited,
.head-links :active,
.head-links :hover,
.head-links :focus {
  color: var(--accent-color);
}

.nav-link,
.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

/* Логотип */
.logotip,
.logotip-footer {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: var(--primary-text-color);
}
.logo-blue {
  font-family: Oleo Script;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-black {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}


/*
.container {
  display: flex;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
*/
.nav-link li {
  margin-right: 40px;
  outline: 3px solid red;
}



/* Меню сайта */
 body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

ul {
  list-style-type: none;
}
/* контейнер герой*/
.hero-container {
  background-color: var(--background-color-second);
  text-align: center;

  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid var(--accent-color);
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4em;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}
h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
/*кнопка заказать услугу*/
button {
  display: inline-block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: inherit;
  text-align: center;
}
.order-service:hover,
.order-service:focus {
  background: var(--accent-color);
  color: var(--primary-bg-color);
}
/*чем мы занимаемся*/

.features h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
}

/*наша команда*/
.team {
  background-color: var(--background-color-third);
}
.our-team h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
our-team p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
}

/* Подвал */
footer {
  background-color: var(--background-color-second);
  color: var(--primary-bg-color);
}

.logo-white {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
}

.footer-adress {
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
}

.footer-mail > a {
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
}

.footer-contacts > a {
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
}
